.cabecalho{
    width: absolute;
}

/* .container{
    margin-left: 30%;
    margin-right: 30%;
} */
 .planejamento{
     width: 95%;
 }
 #texto {
     text-decoration-color: aliceblue;
    position: absolute;
    font-size: 32px;
    left: 250px;
    top: 135px;
  }
  p{
      text-align: justify;
  }